body {
  margin: 0;
  padding: 0;
}

.jumbotron,
.jumbotron-fluid {
  background-image: url("../images/title-background.jpg");
  background-size: cover;
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
}

.titleh1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 70px;
  color: #ffffff;
  text-align: center;
}

.titleh6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 2px;
}

#title-icon {
  margin-left: 25px;
}

#Hi {
  background-color: #2c3e50;
  text-align: center;
}